<h1>Teuteur</h1>


<p>
  C'est la page d'accueil pour l'application exemple du
  <a href="http://railstutorial.org/">Tutoriel Ruby on Rails</a>.
</p>

<p>
  <a href="#" class="signup_button round">S'inscrire !</a>
</p>

